{% extends 'base.html' %}
{% load piece_extra %}
{% load staticfiles %}
{% block content %}

<h1 class="text-center">{{ piece.book_position }}. {{ piece.title }}</h1>




<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div id="infos_piece_text">
            <p><b>Composer</b> : {{ piece.composer.name }}</p>
            <p><b>Main Source</b> : {{ piece.mainsource }}</p>
            <p><b>Variants Sources</b> : {% for source in othersources %}<ul><li>{{ source }}</li></ul>{% endfor %}</p>
            <p><b>Lyricist-Poet</b> : {{ piece.poet_lyricist }}</p>
            <p><b>Voice number</b> : {{ piece.voices_number }}</p>
            <p><b>Voice name</b> : {{ piece.voices_name }}</p>
            <!--<p><b>Style musical</b> : {{ piece.genre_musical_normalise }}</p>
            <p><b>Genre musical</b> : {{ piece.genre_musical_detaille }}</p>-->
            <p><b>Remarks</b> : {{ piece.remarks }}</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
        <div class="litteray-text">
            <h3>Lyrics :</h3>
            <p>{{ piece.lyrics.text }}</p>
        </div>
    </div>
    <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2">
        <div id="link" class="text-center">
            <a href=""><img src="{{ STATIC_URL}}/img/pdf.png" height="40px"></a>
            <a href="{{piece.mei_link}}"><img src="{{ STATIC_URL}}/img/mei.png" height="40px"></a>
            <!--{% if user.is_authenticated %}
            <a href=""><img src="{{ STATIC_URL}}/img/itunes.png" height="40px"></a>
            {% endif %}-->
        </div>
    </div>
    




    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="viewer" style="margin-top:0;margin-left:0;margin-right:0;margin-bottom:20px;"></div>

    </div>
    
    


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

    <div id="piece_comment">
        <button id="buttonCom" class="btn btn-default" onclick="triggerComment()" value="Send a message">Send a message</button>
        <form id="addCom" method="POST" enctype="multipart/form-data" action="{% url 'messageprocessing:addComment' %}">{% csrf_token %}
            {% if piece.voices_name %}
            <select id="comment_voice" name="voice" style="width: 49%;" required>
                <option value="">Voice</option>
                {% for voice in piece.split_voices %}
                <option value="{{voice}}">{{voice}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <input id="comment_measure" name="measure" type="number" maxlength="3" pattern="(\d)(\d)(\d)" placeholder="Measure" style="width: 49%;" required/><br/>
            <textarea id="comment_text" name="message" cols="30" rows="5" style="resize: none; width: 100%;" placeholder="Message"></textarea>
            {%  if not request.user.is_authenticated %}
                <input type="mail" name="mail" placeholder="E-mail address" required style="width: 100%;"/><br/>
            {% else %}
                <input type="hidden" name="mail" value=""/>
            {% endif %}
            <label for="file">Join a file : </label><input type="file" id="file" name="file"/>
            <input type="hidden" name="piece" value="{{ piece.id }}"/>
            <input type="submit" value="Send"/>
        </form>



        <div id="piece_comments_zone">
        {% for com in comments %}
            <div id="comment{{ com.id }}" class="piece_comment_text {% if not com.validate %}comment_invalidate{% endif %}">
                <table>
                    <thead>
                        <th>
                            {% if com.user_post %}
                                {{ com.user_post.person.nickname }}
                            {% else %}
                                Visitor
                            {% endif %}
                             <span class="date_message">({{ com.timestamp|date:"M d, Y" }})</span>
                        </th>
                        {% if perms.gesualdo.validate_message %}
                            {% if not com.validated %}
                                <form class="validateCom" method="POST" action="{% url 'messageprocessing:validateComment'%}">{% csrf_token %}
                                    <input type="hidden" name="id" value="{{ com.id }}"/>
                                    <input id="valide{{ com.id }}" type="image" src="{% static 'imagesCss/valider.gif' %}" class="commit_message_button" title="Validate" alt="V" value="submit"/>
                                </form>
                            {% endif %}
                                <form class="archiveCom" method="POST" action="{% url 'messageprocessing:archiveComment' %}">{% csrf_token %}
                                    <input type="hidden" name="id" value="{{ com.id }}"/>
                                    <input id="arch{{ com.id }}" type="image" src="{% static 'imagesCss/archive.png' %}" class="commit_message_button" title="Archive" alt="A" valute="submit"/>
                                </form>
                                
                                <form class="deletCom" method="POST" action="{% url 'messageprocessing:refuseComment' %}">{% csrf_token %}
                                    <input type="hidden" name="id" value="{{ com.id }}"/>
                                    <input id="del{{ com.id }}" type="image" src="{% static 'imagesCss/refuser.png' %}" class="commit_message_button" title="Delete" alt="X" value="submit"/>
                                </form>
                        {% endif %}
                    </thead>
                    <tr>
                        <td {% if perms.gesualdo.validate_message %}colspan="2"{% endif %}>{{ com.message }}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        
        </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 critical-apparatus">
        <div class="row">
            <h3>Critical Apparatus</h3>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 critical-apparatus-section">
                <div class="critical-apparatus-section_content">
                    <h4>General :</h4>
                    <!-- <p>{{ piece.critical_apparatus_general }}</p> -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 critical-apparatus-section">
                <div class="critical-apparatus-section_content">
                    <h4>Text :</h4>
                    <!-- <p>{{ piece.critical_apparatus_text }}</p> -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 critical-apparatus-section">
                <div class="critical-apparatus-section_content">
                    <h4>Music :</h4>
                    <!-- <p>{{ piece.critical_apparatus_music }}</p> -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>

    <!-- Comment script -->
    <script>

            $('#comment_measure').keyup(function() {$('#comment_measure').val(this.value.match(/[0-9]*/));});

        $(function()
            {
                $("#addCom").hide();
                /*
                    Validation des messages :
                        Un message à valider comporte un formulaire qui comporte la classe "validateCom". En validant ce formulaire, on demande au serveur d'enregistrer le changement.
                        Si la réponse est positive (la réponse doit être l'id du message validé), alors on notifie le changement en rétablissant l'opacité de la zone du message.
                */
                $('form[class="validateCom"]').submit( function() {
                    var url = $(this).attr('action');
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $(this).serializeArray(),
                        success: function(data) {
                            if(data != "-1")
                            {
                                $("#comment" + data).css("opacity", 1);
                                $("#valide" + data).fadeOut();
                            }
                        }
                    });
                    return false;
                });
                
                
                /*
                    Suppression des messages :
                        Pour supprimer un message, on demande via un formulaire de classe "deletCom". Celui-ci comporte l'id du message à supprimer.
                        Si la réponse est positive (la réponse doit être l'id du message supprimé), alors on notifie le changement en cachant la zone du message.
                */
                $('form[class="deletCom"]').submit( function() {
                    var url = $(this).attr('action');
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $(this).serializeArray(),
                        success: function(data) {
                            if(data != -1)
                            {
                                $("#comment" + data).fadeOut();
                            }
                        }
                    });
                    return false;
                });
                
                $('form[class="archiveCom"]').submit( function() {
                    var url = $(this).attr('action');
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $(this).serializeArray(),
                        success: function(data) {
                            if(data != -1)
                            {
                                $("#comment" + data).fadeOut();
                            }
                        }
                    });
                    return false;
                });
                
                /*
                    Ajout de messages :
                        Pour ajouter un message, on demande via un formulaire d'id "ajoutCom", qui comporte le numéro de la mesure et le message.
                        En cas d'insertion réussie, on crée une zone pour le message, qui comporte le nom du posteur, les boutons et formulaires pour valider ou supprimer
                        si l'utilisateur en a les droits, puis le message.
                */
                $("#addCom").submit( function() {
                    if($("#comment_text").val() == "")
                        return false;
                    var url = $(this).attr('action');
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            var zone = $("#piece_comments_zone");
                            var divCom = $("<div id='comment" + data + "' class='piece_comment_text comment_invalidate'></div>");
                            var table = $('<table></table>');
                            var tete = $('<thead></thead>');
                            var pseudo = $('<th></th>');
                            pseudo.appendTo(tete);
                            
                            {% if user.is_authenticated %} // S'il est authentifié, alors il possède un compte, qui possède un nom bref.
                                pseudo.text("{{ user.userprofile.person.nickname }}");
                            {% else %}
                                pseudo.text("Visitor"); // Sans quoi, il est considéré comme un internaute.
                            {% endif %}
                            
                            {% if perms.gesualdo.validate_message %} // Si l'utilisateur possède le droit de valider les messages, on lui offre la possibilité
                            
                                var validations = $('<th></th>');
                                validations.appendTo(tete);
                                
                                var formValide = $('<form class="validateCom" method="POST"></form>');
                                formValide.attr('action', "{% url 'messageprocessing:validateComment' %}");
                                formValide.html("{% csrf_token %}");
                                var valide = $('<input id="valide' + data + '" type="image" class="commit_message_button" title="Validate" alt="V" value="submit"/>');
                                valide.attr('src', '{% static "imagesCss/valider.gif" %}');
                                var hiddenValide = $('<input type="hidden" name="id" value="' + data + '"/>');
                                valide.appendTo(formValide);
                                hiddenValide.appendTo(formValide);
                                formValide.appendTo(validations);
                                
                                var formArchive = $('<form class="archiveCom" method="POST"></form>');
                                formArchive.attr('action', "{% url 'messageprocessing:archiveComment' %}");
                                formArchive.html("{% csrf_token %}");
                                var archive = $('<input id="archive' + data + '" type="image" class="commit_message_button" title="Validate" alt="A" value="submit"/>');
                                archive.attr('src', '{% static "imagesCss/archive.png" %}');
                                var hiddenArchive = $('<input type="hidden" name="id" value="' + data + '"/>');
                                archive.appendTo(formArchive);
                                hiddenArchive.appendTo(formArchive);
                                formArchive.appendTo(validations);
                                
                                var formInvalide = $('<form class="deletCom" method="POST"></form>');
                                formInvalide.attr('action', "{% url 'messageprocessing:refuseComment' %}");
                                formInvalide.html("{% csrf_token %}");
                                var invalide = $('<input id="del' + data + '" type="image" class="commit_message_button" title="Delete" alt="X" value="submit"/>');
                                invalide.attr('src', '{% static "imagesCss/refuser.png" %}');
                                var hiddenInvalide = $('<input type="hidden" name="id" value="' + data + '"/>');
                                invalide.appendTo(formInvalide);
                                hiddenInvalide.appendTo(formInvalide);
                                formInvalide.appendTo(validations);
                                
                                // On change le comportement des formulaires, comme pour ceux qui ont été généré à la création de la page.
                                formValide.submit( function() {
                                    var url = $(this).attr('action');
                                    $.ajax({
                                        type: "POST",
                                        url: url,
                                        data: $(this).serializeArray(),
                                        success: function(data2) {
                                            if(data2 != "-1")
                                            {
                                                $("#comment" + data2).css("opacity", 1);
                                                $("#valide" + data2).fadeOut();
                                            }
                                        }
                                    });
                                    return false;
                                });
                                
                                formArchive.submit( function() {
                                    var url = $(this).attr('action');
                                    $.ajax({
                                        type: "POST",
                                        url: url,
                                        data: $(this).serializeArray(),
                                        success: function(data2) {
                                            if(data2 != "-1")
                                            {
                                                $("#comment" + data2).fadeOut();
                                            }
                                        }
                                    });
                                    return false;
                                });
                                
                                formInvalide.submit( function() {
                                    var url = $(this).attr('action');
                                    $.ajax({
                                        type: "POST",
                                        url: url,
                                        data: $(this).serializeArray(),
                                        success: function(data2) {
                                            if(data2 != -1)
                                            {
                                                $("#comment" + data2).fadeOut();
                                            }
                                        }
                                    });
                                    return false;
                                });
                                
                            {% endif %}
                            
                            var tr = $('<tr></tr>');
                            var td = $('<td></td>');
                            td.text($('#comment_text').val());
                            {% if perms.gesualdo.validate_message %}
                                td.attr('colspan', '2');
                            {% endif %}

                            
                            td.appendTo(tr);
                            tete.appendTo(table);
                            tr.appendTo(table);
                            table.appendTo(divCom);
                            divCom.prependTo(zone);
                            divCom.fadeOut();
                            divCom.fadeIn();
                            $('#comment_measure').val("");
                            $('#comment_text').val("");
                        }
                    });
                    return false;
                });
                
                
            }
        );
        
        
        
        function deletComment(id)
        {
            var http = getXMLHttpRequest();
            var data = "id=" + id;
            http.open("POST", "{% url 'messageprocessing:refuseComment' %}", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.setRequestHeader("Content-length", data.length);
            http.onreadystatechange = function() {
                if(http.readyState == 4)
                {
                    var com = $("#comment" + id);
                    com.fadeOut();
                }
            }
            http.send(data);
        }
        
        function validateComment(id)
        {
            var http = getXMLHttpRequest();
            var data = "id=" + id;
            http.open("POST", "{% url 'messageprocessing:validateComment'%}", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.setRequestHeader("Content-length", data.length);
            http.onreadystatechange = function() {
                if(http.readyState == 4)
                {
                    var com = $("#comment" + id);
                    com.css("opacity", 1);
                }
            }
            http.send(data);
        }
        
        
        
        function addComment()
        {
            var http = getXMLHttpRequest();
            var message = document.getElementById("comment_measure").value;
            var mesure = document.getElementById("comment_text").value;
            var data = "message=" + encodeURIComponent(unescape(message)) + "&piece=" + encodeURIComponent(unescape({{ piece.id }})) + "&mesure=" + encodeURIComponent(unescape(mesure));
            alert(data);
            
            http.open("POST", "{% url 'messageprocessing:addComment'%}", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.setRequestHeader("Content-length", data.length);
            http.onreadystatechange = function() {
                if(http.readyState == 4)
                {
                    alert(http.responseText);
                }
            }
            
            http.send(data);
        }
        
        function triggerComment()
        {
            $("#buttonCom").hide();
            $("#addCom").fadeIn();
        }</script> 


     <!-- meiView dependencies and scripts -->

  <script type="text/JavaScript" src="/static/js/vexflow/vexflow-min.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/Fabric-all.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/meitovexflow.min.js"></script>

  <script type="text/JavaScript" src="/static/js/dist/meiview.js"></script>
  <link rel="stylesheet" href="/static/css/dist/meiview.css"/>

  <script type="application/javascript" language="javascript">
    $(document).ready( function(){

      /* Load an MEI file from an XML document */
      var loadedXML = meiView.Util.loadXMLDoc('{{ STATIC_URL}}testmei.mei');

      /* Make sure the file will be suitable for rendering */
      var filteredXml = meiView.filterMei(loadedXML, { noSysBreak:true });

      /* Make sure the MEI will be suitable for rendering */
      var meiDoc = new MeiLib.MeiDoc(filteredXml);

      var pagination = new meiView.Pages({
        length: $(meiDoc.rich_score).find('measure').length,
        mpp: 4,
      });

      /* Create a compact viewer. */
      var viewer = new meiView.CompactViewer({
        maindiv: $('.viewer'),
        MEI: meiDoc,
        pages: pagination,
        title: "{{ piece.title }}",
        displayFirstPage: true,
        scale: 0.8,
        pxpMeasure: 280,
      });

    })
  </script>
{% endblock %}
